.atom/.apm/
.atom/.node-gyp/
.atom/packages/
.atom/compile-cache/
.atom/storage/
.atom/projects.cson
.atom/blob-store/
envrc/*
.config/fisherman
.config/fish/fishd*
.config/fish/completions
.config/fish/conf.d
.config/fish/functions
