"*":
  "auto-encoding":
    disallowEncTypes: "windows1252"
  core:
    disabledPackages: [
      "auto-encoding"
      "japanese-menu"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 19
    invisibles: {}
  "exception-reporting":
    userId: "d1c0d445-4d5a-1312-3304-08f7722bd2f1"
  "git-plus":
    general:
      _analyticsUserId: "618d0ecb-e0b6-41d7-8338-c3ff9ad303e5"
  "seti-syntax":
    themeColor: "Steel"
  "seti-ui":
    compactView: true
    disableAnimations: true
    fileIcons: false
    themeColor: "Green"
  "tree-view": {}
  welcome:
    showOnStartup: false
